img {
  border: 10px transparent solid;
}

label input[type="radio"]:checked + img {
  border: 10px solid yellowgreen;
  background: hotpink;
}

/* hiding the radio buttons the  a11y. way: https://www.a11yproject.com/posts/how-to-hide-content/ */

input[type="radio"],
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

svg {
  opacity: 0;
  transition: all 2s; /* normally max 0.3s */
}

input[type="radio"]:checked ~ svg {
  /* display: inline-block; */
  opacity: 1;
}

label {
  display: grid;
}

label > * {
  grid-column: 1;
  grid-row: 1;
}
